<form id="login-form-ajax" method="post" action="{% url 'users:login' %}">
  {% csrf_token %}
  
  {% if error %}
    <div class="error-message red-error">{{ error }}</div>
  {% endif %}

  {% if login_form.non_field_errors %}
    <div class="error-message red-error">
      {% for err in login_form.non_field_errors %}
        {{ err }}
      {% endfor %}
    </div>
  {% endif %}

  <div class="form-group">
    {{ login_form.email.label_tag }}
    {{ login_form.email }}
    {% for err in login_form.email.errors %}
      <div class="error-message red-error">{{ err }}</div>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ login_form.password.label_tag }}
    {{ login_form.password }}
    {% for err in login_form.password.errors %}
      <div class="error-message red-error">{{ err }}</div>
    {% endfor %}
  </div>

  <button type="submit">Увійти</button>
</form>
