{% load static %}

<footer class="site-footer">
  <div class="container footer-top">
    <div class="footer-col footer-logo">
      <a class="logo" href="{% url 'home' %}">
          <img src="{% static 'zoosvit/img/laska_white3__.png' %}?v=4"
               alt="Ласка" width="190" height="50" />
      </a>
      <p class="copyright">© 2025 Ласка. Всі права захищені.</p>
      <p class="mobile-version">
      <a href="https://icons8.com" target="_blank">Icons by Icons8</a>
      </p>
      <div class="payment-icons">
        <img src="{% static 'zoosvit/img/other/visa+mastercard-icon.png' %}"alt="Visa and Mastercard">
      </div>
<!--      <p class="mobile-version">-->
<!--        <a href="#">Мобільна версія</a>-->
<!--      </p>-->
    </div>

    <!-- КАТАЛОГ -->
    <div class="footer-col">
      <h4>Категорії</h4>
      <ul class="footer-links">
        <li><a href="{% url 'products:subcategory_list' 'super-vigodniye-propozicii' %}" >Супер вигідні-пропозиції</a></li>
        <li><a href="{% url 'products:subcategory_list' 'shares' %}">Акції</a></li>
        <li><a href="{% url 'products:subcategory_list' 'dogs' %}">Собаки</a></li>
        <li><a href="{% url 'products:subcategory_list' 'cats' %}">Коти</a></li>
        <li><a href="{% url 'products:subcategory_list' 'birds' %}">Птахи</a></li>
        <li><a href="{% url 'products:subcategory_list' 'rodents' %}">Гризуни</a></li>
        <li><a href="{% url 'products:subcategory_list' 'aquarium' %}">Акваріум</a></li>
        <li><a href="{% url 'products:subcategory_list' 'terrarium' %}">Тераріум</a></li>
        <li><a href="{% url 'products:subcategory_list' 'brands' %}">Бренди</a></li>
      </ul>
    </div>

    <!-- КЛІЄНТАМ -->
    <div class="footer-col">
      <h4>Клієнтам</h4>
      <ul class="footer-links">
        <li><a href="{% url 'products:catalog' %}">Каталог</a></li>
        <li><a href="{% url 'stores_map' %}">Магазини Ласка</a></li>
        <li><a href="{% url 'info_page' 'payment-delivery' %}">Оплата та доставка</a></li>
        <li><a href="{% url 'info_page' 'returns' %}">Обмін та повернення</a></li>
        <li><a href="{% url 'info_page' 'public-offer' %}">Договір публічної оферти</a></li>
        <li><a href="{% url 'info_page' 'privacy' %}">Політика конфіденційності</a></li>
<!--        <li><a href="#">Дисконтна програма</a></li>-->
      </ul>
    </div>

    <!-- КОНТАКТНА ІНФОРМАЦІЯ -->
    <div class="footer-col">
      <h4>Контактна інформація</h4>
      <ul class="footer-contacts">
        <li><a href="tel:0800212002">0 800 212 002</a><br><small>Відповідаємо з 9:00 до 20:00</small></li>
        <li><a href="mailto:zoosvitoffice15@gmail.com">zoosvitoffice15@gmail.com</a></li>
      </ul>
      <div class="social-icons">
        <a href="#" aria-label="Telegram"><img src="{% static 'zoosvit/img/header_icons/telagram-icon.png' %}" alt="TG"></a>
        <a href="#" aria-label="Viber"><img src="{% static 'zoosvit/img/header_icons/viber-icon.png' %}" alt="VB"></a>
        <a href="#" aria-label="Instagram"><img src="{% static 'zoosvit/img/header_icons/instagram-icon.png' %}" alt="INST"></a>
      </div>
    </div>
  </div>

</footer>
<div class="site-subfooter">
  <div class="container">
    © Розробка сайтів/застосунків @ds0903
  </div>
</div>
